#form_create_new_airport {
    display: none;
}

.airports_filters {
    text-align: right;
}

.btn_airport_update {
    display: none;
}

.btn_asc_desc img {
    width: 20px;
}

.airports_search input,
select {
    height: 35px;
    position: relative;
    top: 3px;
}

.airports_search {
    text-align: center;
    background-color: #fcf8f8;
    padding: 5px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

tr:not(:first-child):hover {
    background-color: rosybrown !important;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #e0f3c7;
}

tr:nth-child(2):hover {
    background-color: #800404 !important;
}

tr:nth-child(2) {
    background-color: #2d4974;
    color: #f5c13e;
}

table {
    background-color: rgba(255, 255, 255, 0.384);
}

.airports_list {
    text-align: center;
}

.airports_title {
    /*background-color: yellow;*/
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

#airports {
    width: 1000px;
    height: 500px;
    background-color: rgba(245, 245, 245, 0.486);
    border: 2px solid #003e80;
    margin: 50px auto;
    border-radius: 20px;
    overflow: auto;
    padding: 20px;
}

body {
    background-color: #ebeced;
    background-image: url(../bahodir/onlyimg/254381.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}